section{
  box-sizing: border-box;
}
.border{
  border: 1px solid #FAFAFA;
}
.product{
  width: 90%;
}
.product>h3{
  color: rgb(233, 104, 160);
  font: 1.8em 'Oxygen';
  margin: 1em;
}
.product>.images>ul{
  list-style: none;
}
.product>.images>ul>li{
  display: inline-block;
  margin: 2em 1%;
  width: 31%;
}
.product>.images>ul>li:hover{
  cursor: pointer;
}
.product>.images>ul>li>img{
  max-height: 6.25em;
  min-height: 6.25em;
  max-width: 5.5em;
  height: 100%;
}
.product>.images>.main-image{
  height: 300px;
  width: 100%;
}
.product>.images>.main-image>img{
  height: 100%;
}
.product>.detail{
  margin: 0 auto;
  text-align: left;
  width: 80%;
}
.product>.detail>span{
  font-size: 1.2em;
  color: rgb(233, 104, 160);
  margin: 0 auto;
  width: 50%;
}
.product>.category-link{
  background: rgb(233, 104, 160);
  color: white;
  display: block;
  font-size: .8em;
  margin: 1em auto;
  padding: 1em;
  text-decoration: none;
  width: 50%;
}
@media screen and (min-width: 52em){
  .product>h3{
    margin-left: 3em;
    text-align: left;
  }
  .product>.images,.product>.detail{
    float: left;
    width: 45%;
  }
  .product>.category-link{
    float: left;
    width: 10%;
  }
}
@media screen and (min-width: 58em){
}
