{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/product.css"/>
{% endblock %}

{% block categories %}
{% for category in categories %}
    <li data-link='/categoria/{{category.path}}'>{{category.name}}</li>
{% endfor %}

{% endblock %}

{% block content %}
    <section class="products">
        <article class="product">
            <img src="{{STATIC_URL}}media/{{product.image1}}"/>
            <img src="{{STATIC_URL}}media/{{product.image2}}"/>
            <img src="{{STATIC_URL}}media/{{product.image3}}"/>
            <span class="price">{{ product.price }} €</span>
            <span class="title">{{ product.name }}</span>
            <span class="title">{{ product.description }}</span>
        </article>
    </section>

{% endblock %}

