{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/product.css"/>
{% endblock %}

{% block categories %}
{% for category in categories %}
    <li data-link='/categoria/{{category.path}}'>{{category.name}}</li>
{% endfor %}

{% endblock %}

{% block content %}
    <article class="product">
        <h3>{{ product.name }}</h3>
        <div class="images">
            <div class="main-image">
                <img src="{{STATIC_URL}}media/{{product.image1}}" class="border" alt="{{product.name}}"/>
            </div>
            <ul>
                {% if product.image1 %}
                    <li><img class="border" src="{{STATIC_URL}}media/{{product.image1}}" alt="{{product.name}}"/></li>
                {% endif %}

                {% if product.image2 %}
                    <li><img class="border" src="{{STATIC_URL}}media/{{product.image2}}" alt="{{product.name}}"/></li>
                {% endif %}

                {% if product.image3 %}
                    <li><img class="border" src="{{STATIC_URL}}media/{{product.image3}}" alt="{{product.name}}"/></li>
                {% endif %}
            </ul>
        </div>
        <div class="detail">
            Precio <span class="price">{{ product.price }} €</span><br/>
            Referencia <span class="referene">{{ product.ref_code }}</span>
            <p>{{ product.description }}</p>
        </div>
        <a class="category-link" href="/categoria/{{ product.category.path }}">MÁS EN {{ product.category.name }}</a>
    </article>

{% endblock %}

